'.text.gherkin.feature':
  'editor':
    'commentStart': '# '
    'completions': [
      'As a'
      'As an'
      'I want to'
      'So that'
      'Story:'
      'Scenario:'
      'Scenario Outline:'
      'Given'
      'Then'
      'When'
      'And'
      'But'
    ]
    'increaseIndentPattern': 'Scenario: .*'
